# data_gen/rules.toml
#
# Copyright (C) 2025 James Petersen <m@jamespetersen.ca>
# Licensed under MIT. See LICENSE

loc_types.hidden = "dowsingmachine_if_opt"

enc_types.surf = "surf"
enc_types.good_rod = "good_rod"
#enc_types.super_rod = "super_rod"
enc_types.old_rod = "old_rod"

common.national_dex = "pokedex * 3"
common.dowsingmachine_if_opt = "dowsingmachine & poketch if dowsing_machine_logic"
common.defog_if_opt = "defog if visibility_hm_logic"
common.flash_if_opt = "flash if visibility_hm_logic"
common.poketch_req = "parcel & coupon_1 & coupon_2 & coupon_3"

locs.twinleaf_town_odd_keystone = "surf"
locs.lake_verity_tm38 = "surf"

events.event_lake_explosion = "hm04 & event_mine_badge"
exits.valor_lakefront.lake_valor_drained = "event_lake_explosion"
exits.verity_lakefront.lake_verity = "event_lake_explosion"
exits.acuity_lakefront.lake_acuity = "event_lake_explosion & rock_climb"

locs.sandgem_town_pokemon_research_lab_pokedex_2 = "regional_mons(60)"
locs.sandgem_town_pokemon_research_lab_poke_radar = "regional_mons(60)"

exits.route_219.route_220 = "surf"
exits.route_221.pal_park_lobby = "national_dex"
#locs.pal_park_lobby_kitchentimer = "mon_snorlax"
#locs.pal_park_lobby_colorchanger = "mon_kecleon & mon_snorlax"

locs.trainers_school_town_map = "parcel"
locs.jubilife_city_coupon_1 = "parcel"
locs.jubilife_city_coupon_2 = "parcel"
locs.jubilife_city_coupon_3 = "parcel"
locs.jubilife_city_poketch = "poketch_req"
locs.jubilife_city_calculator = "poketch_req"
locs.jubilife_city_pedometer = "poketch_req"
locs.jubilife_city_partystatus = "poketch_req"
exits.jubilife_city.route_203 = "poketch_req if parcel_coupons_route_203"

exits.oreburgh_gate_1f.oreburgh_gate_b1f = "rock_smash"
locs.oreburgh_gate_b1f_tm31 = "surf | bicycle"
locs.oreburgh_gate_b1f_tm01 = "surf & strength"
locs.oreburgh_gate_b1f_earth_plate = "surf & strength"

locs.oreburgh_city_north_house_2f_heal_ball = "mon_geodude"
exits.route_207_south.route_207 = "bicycle"

locs.jubilife_city_fashion_case = "event_coal_badge"

locs.route_204_south_sea_incense = "surf"
locs.route_204_south_hp_up = "surf"

locs.ravaged_path_tm39 = "rock_smash"
locs.ravaged_path_tm03 = "rock_smash & surf"
locs.ravaged_path_luck_incense = "rock_smash & surf"
exits.ravaged_path.route_204_north = "rock_smash"
encs.ravaged_path.old_rod = "rock_smash"
encs.ravaged_path.good_rod = "rock_smash"
#encs.ravaged_path.super_rod = "rock_smash"
encs.ravaged_path.surf = "rock_smash"

locs.route_204_north_tm78 = "cut"

exits.floaroma_town.route_205_south = "works_key | surf"
exits.route_205_south.fuego_ironworks_outside = "surf"
locs.valley_windworks_outside_tm24 = "surf"
locs.valley_windworks_outside_electirizer = "surf"
locs.valley_windworks_outside_max_elixir = "surf"

exits.route_205_south.eterna_forest_outside = "cut"
exits.route_205_north.eterna_forest_outside = "cut"
locs.eterna_forest_insect_plate = "cut"
locs.eterna_forest_ether = "cut"
exits.eterna_forest.old_chateau = "cut"

exits.eterna_city.team_galactic_eterna_building_1f = "cut"
locs.eterna_city_tm46 = "cut"
locs.cycle_shop_bicycle = "event_eterna_defeat_team_galactic"
locs.eterna_city_moon_stone = "surf"
locs.eterna_city_south_house_upgrade = "event_met_oak_pal_park"
locs.route_206_cycling_road_north_gate_exp_share = "mons(35)"

locs.route_211_west_tm12 = "rock_smash"

exits.mt_coronet_1f_north_room_1_left.mt_coronet_1f_north_room_1_middle = "rock_smash"
exits.mt_coronet_1f_north_room_1_middle.mt_coronet_1f_north_room_1_left = "rock_smash | strength"
exits.mt_coronet_1f_north_room_1_middle.mt_coronet_1f_north_room_1_right = "strength"
exits.mt_coronet_1f_north_room_1_right.mt_coronet_1f_north_room_1_middle = "strength"
exits.mt_coronet_1f_north_room_1_right.mt_coronet_1f_north_room_1_top = "strength"
exits.mt_coronet_1f_north_room_1_top.mt_coronet_1f_north_room_1_right = "strength"
exits.mt_coronet_1f_north_room_1_bottom.mt_coronet_1f_north_room_1_right = "strength"
locs.mt_coronet_1f_north_room_1_rare_candy = "rock_smash"
locs.mt_coronet_1f_north_room_1_tm69 = "strength"

exits.route_206_cycling_road_north_gate.cycling_road = "bicycle"
exits.route_206_cycling_road_south_gate.cycling_road = "bicycle"
exits.route_206.route_206_upper = "cut"
exits.route_206_upper.wayward_cave_1f = "flash_if_opt"

locs.wayward_cave_1f_tm32 = "rock_smash"
locs.wayward_cave_1f_revive = "rock_smash"
locs.wayward_cave_1f_escape_rope = "rock_smash"
locs.wayward_cave_1f_yellow_shard = "rock_smash"
locs.wayward_cave_1f_great_ball = "rock_smash"
locs.wayward_cave_1f_green_shard = "rock_smash"
locs.wayward_cave_1f_super_potion = "rock_smash"
locs.wayward_cave_1f_blue_shard = "rock_smash"

locs.wayward_cave_1f_tm26 = "bicycle"
locs.wayward_cave_b1f_grip_claw = "bicycle"
locs.wayward_cave_b1f_max_ether = "bicycle"
locs.wayward_cave_b1f_rare_candy = "bicycle"
locs.wayward_cave_b1f_stardust = "bicycle"

locs.route_207_iron = "rock_climb"

locs.mt_coronet_1f_south_protein = "surf"
locs.mt_coronet_1f_south_dawn_stone = "surf"
exits.mt_coronet_1f_south.mt_coronet_2f_right = "surf & rock_climb"
exits.mt_coronet_2f_right.mt_coronet_2f_left = "strength"

locs.route_208_star_piece = "rock_smash & rock_climb"
locs.route_208_carbos = "surf & waterfall"
locs.route_208_ether = "rock_smash"

locs.route_209_tm19 = "surf"
locs.route_209_calcium = "bicycle"
locs.route_209_tm47 = "cut"

exits.route_209_lost_tower_2f.route_209_lost_tower_3f = "defog_if_opt"
locs.route_209_lost_tower_5f_cleanse_tag = "defog"
locs.route_209_lost_tower_5f_spell_tag = "defog"

locs.solaceon_town_pokemonhistory = "regional_mons(50)"
exits.maniac_tunnel.solaceon_ruins_maniac_tunnel_room = "event_solaceon_ruins"
locs.solaceon_ruins_room_2_green_shard = "hm05"

exits.route_210_south.route_210_south_upper = "secretpotion"
exits.route_210_south_upper.route_210_south = "secretpotion"
exits.route_210_south_upper.route_210_north = "defog_if_opt"
locs.route_210_north_tm30 = "rock_smash & bicycle"
locs.route_210_north_shiny_stone = "rock_climb"
locs.route_210_north_meadow_plate = "surf & waterfall"
locs.route_210_north_wave_incense = "surf & waterfall"
locs.route_210_north_zinc = "rock_climb"
exits.route_210_north.route_210_grandma_wilma_house = "rock_climb"
exits.celestic_town.route_210_north = "defog_if_opt"

locs.celestic_town_cave_hm03 = "old_charm"
locs.celestic_town_dragon_fang = "old_charm"
locs.celestic_town_kings_rock = "old_charm"

locs.route_211_east_calcium = "rock_climb & rock_smash"
locs.route_211_east_tm29 = "rock_climb & rock_smash"

locs.route_215_fist_plate = "cut"
locs.route_215_tm34 = "cut"

locs.veilstone_city_full_incense = "rock_climb"

exits.galactic_hq_wo_key.veilstone_city_galactic_warehouse = "event_lake_acuity_meet_jupiter"
exits.veilstone_city_galactic_warehouse.galactic_hq_wo_key = "event_lake_acuity_meet_jupiter"
exits.veilstone_city.galactic_hq_w_key = "galactic_key"
locs.galactic_hq_3f_tm21 = "galactic_key"

locs.route_214_rare_candy = "surf"
exits.route_214.spring_path = "event_distortion_world"
exits.sendoff_spring.turnback_cave_entrance = "defog_if_opt"
exits.valor_lakefront.route_222 = "event_distortion_world"
exits.valor_lakefront.lake_valor = "event_distortion_world"

locs.valor_lakefront_secretpotion = "event_fen_badge"
locs.valor_lakefront_sun_stone = "rock_climb"
locs.valor_lakefront_tm85 = "rock_climb"
locs.valor_lakefront_iron = "rock_climb"
locs.valor_lakefront_white_flute = "suite_key"

locs.route_213_hyper_potion = "rock_smash"
locs.route_213_suite_key = "dowsingmachine_if_opt"
exits.route_213.grand_lake_route_213_northeast_house = "rock_climb"
locs.route_213_max_revive = "surf"
locs.route_213_protein = "rock_climb"
locs.route_213_hp_up = "rock_climb"
locs.route_213_big_pearl = "surf"
locs.route_213_big_pearl_0 = "surf"
locs.route_213_water_stone = "surf"
locs.route_213_tm05 = "rock_climb"
locs.route_213_tm40 = "rock_smash"

locs.pastoria_city_mystic_water = "surf"

locs.route_212_south_tm84 = "surf"
locs.route_212_south_max_ether = "surf"
locs.route_212_south_hyper_potion = "cut"
locs.route_212_south_zinc = "cut"
locs.route_212_north_tm11 = "cut | surf"
locs.route_212_north_rose_incense = "surf"
locs.route_212_north_iron = "surf"
locs.route_212_south_big_mushroom = "bicycle"
locs.route_212_south_tm62 = "bicycle"

locs.route_218_rare_candy = "surf"
locs.route_218_hyper_potion = "surf"
exits.route_218.route_218_gate_to_canalave_city = "surf"
encs.route_218.land = "surf"

exits.canalave_city.fullmoon_island = "national_dex & event_beat_cynthia"
locs.canalave_city_tm89 = "surf"

locs.iron_island_house_metal_coat = "national_dex"

exits.mt_coronet_1f_tunnel_room.mt_coronet_1f_tunnel_room_base = "rock_climb"
exits.mt_coronet_1f_tunnel_room_base.mt_coronet_1f_tunnel_room = "rock_climb"
locs.mt_coronet_1f_tunnel_room_stardust = "rock_smash"
locs.mt_coronet_1f_tunnel_room_heal_powder = "rock_smash"
locs.mt_coronet_1f_tunnel_room_green_shard = "rock_smash & rock_climb"
locs.mt_coronet_1f_tunnel_room_green_shard_0 = "rock_climb"
locs.mt_coronet_1f_tunnel_room_rare_candy = "rock_climb"

exits.mt_coronet_1f_north_room_1_top.mt_coronet_b1f = "fly & defog_if_opt if north_sinnoh_fly else defog_if_opt"
exits.mt_coronet_1f_north_room_2.mt_coronet_b1f = "defog_if_opt"
locs.mt_coronet_b1f_ultra_ball = "rock_smash"
locs.mt_coronet_b1f_soft_sand = "strength & rock_smash"
locs.mt_coronet_b1f_blue_shard = "rock_smash"
locs.mt_coronet_b1f_light_clay = "surf"
locs.mt_coronet_b1f_max_elixir = "surf | rock_smash"
locs.mt_coronet_b1f_revive = "strength"
locs.mt_coronet_b1f_full_restore = "rock_smash"

locs.mt_coronet_outside_north_star_piece = "rock_smash"
exits.mt_coronet_outside_south.mt_coronet_outside_north_plat = "rock_climb"
exits.mt_coronet_outside_north_plat.mt_coronet_outside_south = "rock_climb"
exits.mt_coronet_outside_south_entrance.mt_coronet_outside_south = "rock_climb"
exits.mt_coronet_outside_south.mt_coronet_outside_south_entrance = "rock_climb"
locs.mt_coronet_outside_south_blue_shard = "rock_smash"
exits.mt_coronet_4f_rooms_1_and_2_lower.mt_coronet_4f_rooms_1_and_2 = "rock_climb"
exits.mt_coronet_4f_rooms_1_and_2.mt_coronet_4f_rooms_1_and_2_lower = "rock_climb"
locs.mt_coronet_4f_rooms_1_and_2_sun_stone = "rock_smash"
locs.mt_coronet_4f_rooms_1_and_2_heal_powder = "rock_smash"
locs.mt_coronet_4f_rooms_1_and_2_yellow_shard = "rock_smash"
locs.mt_coronet_4f_rooms_1_and_2_adamant_orb = "surf & waterfall"
locs.mt_coronet_4f_rooms_1_and_2_lustrous_orb = "surf & waterfall"
locs.mt_coronet_4f_rooms_1_and_2_stone_plate = "surf & waterfall"
exits.mt_coronet_2f_left.mt_coronet_3f = "event_galactic_hq_defeat_cyrus"

locs.route_216_tm13 = "rock_climb"
locs.route_216_max_potion = "rock_climb"
locs.route_216_hp_up = "rock_climb"
locs.route_216_mental_herb = "rock_climb"

locs.route_217_west_house_icicle_plate = "hm08"
locs.acuity_lakefront_reaper_cloth = "rock_climb"
exits.acuity_lakefront.lake_acuity_low_water = "rock_climb"

exits.snowpoint_city.fight_area = "event_beat_cynthia"
exits.snowpoint_city.snowpoint_temple_1f = "national_dex & event_beat_cynthia"
locs.snowpoint_temple_b4f_full_heal = "strength"

exits.victory_road_1f.victory_road_1f_room_1 = "event_beat_cynthia & national_dex"

locs.route_222_full_restore_0 = "rock_smash | surf"
locs.route_222_carbos = "cut"
locs.route_222_quick_ball = "rock_smash | surf"
locs.route_222_tinymushroom = "rock_smash | surf"
locs.route_222_big_mushroom = "surf"

locs.sunyshore_city_hm07 = "event_beacon_badge"

locs.poketch_co_1f_memopad = "parcel & coupon_1 & coupon_2 & coupon_3 & badges(1)"
locs.poketch_co_1f_markingmap = "parcel & coupon_1 & coupon_2 & coupon_3 & badges(3)"
locs.poketch_co_1f_linksearcher = "parcel & coupon_1 & coupon_2 & coupon_3 & badges(5)"
locs.poketch_co_1f_movetester = "parcel & coupon_1 & coupon_2 & coupon_3 & badges(7)"

locs.route_223_tm18 = "surf"
locs.route_223_ultra_ball = "surf"
locs.route_223_dive_ball = "surf"
locs.route_223_rare_candy = "surf"
locs.route_223_heart_scale = "surf"
locs.route_223_heart_scale_0 = "surf"
exits.route_223.pokemon_league_south_south = "surf"
exits.pokemon_league_south_south.pokemon_league_south = "surf & waterfall"

# we have all of the hms once we reach victory road, so we only need to add rules for the bicycle
locs.victory_road_2f_tm71 = "bicycle"
locs.victory_road_2f_full_restore = "bicycle"
locs.victory_road_2f_max_elixir = "bicycle"

exits.pokemon_league_north_pokecenter_1f.pokemon_league_elevator_to_aaron_room = "badges(8)"

locs.victory_road_1f_tm41 = "rock_climb"
locs.victory_road_1f_nugget = "rock_climb"
exits.victory_road_1f_entrance.victory_road_2f_entrance = "rock_climb"
exits.victory_road_2f_entrance.victory_road_2f = "rock_smash & strength"
