name: Release APWorld
on:
  push:
    tags:
      - '**'


jobs:
  apworld:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - uses: Eijebong/ap-actions/setup-ap@main
        with:
          version: '0.6.5'
          python-version: '3.13'

      - uses: actions/checkout@master
        with:
          path: 'archipelago/worlds/pokemon_platinum'

      - name: Make apworld
        shell: bash
        run: |
          cd archipelago/
          source .venv/bin/activate
          uv pip install pyparsing
          cd worlds/pokemon_platinum
          make pokemon_platinum.apworld

      - uses: actions/upload-artifact@v4
        with:
          name: apworld
          path: archipelago/worlds/pokemon_platinum/pokemon_platinum.apworld

  publish:
    runs-on: ubuntu-latest
    needs: [apworld, template]
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: apworld

      - uses: ncipollo/release-action@v1
        with:
          artifacts: '*'
          allowUpdates: true
          prerelease: false
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true

